/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: black;
    color: #fafafa;
    padding-bottom: 3rem;
    margin: 20px 20px 20px 20px;
}

img {
    display: block;
}

.profile {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, 1fr);
    grid-template-areas: 
        'n n n n'
        'pfp sc sc sc'
        'b b b b';
}

.profile-user-settings {
    grid-column: n;
    order: -1;
}

.profile-image {
    grid-area: pfp;
}

.profile-stats { 
    grid-area: sc;   
}

.profile-stats-list {
    display: grid;
    grid-template: 271px / repeat(3, 1fr);
    margin: 0;
    align-items: center;
}

.profile-stat-count {
    font-size: 20px;
}

.profile-bio {
    grid-area: b;
    font-size: 15px;
    height: 150px;
}

.btn {
    background-color: dimgray;
    border-color: dimgray;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    transition: all 1s;
}

.btn:hover {
    color: black;
    background-color: white;
    scale: 1.2;
    border-color: white;
}

.gallery {
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-image {
    width: 100%;
    height: 80%;
    object-fit: cover; 
    padding: 1px;
    transition: all 1s;
}

.gallery-image:hover {
    opacity: 50%;
}

